<div class="row">
<h1>Experiencia Laboral</h1>
<div class="col-lg-11">
     <ul>
        <li><h1>Reponedor de Barra</h1>-<h3>2019</h3></li>
        <p>Me desempeñe en el reponedor de barra durante los eventos del dia 20 de julio y el 19 de agosto</p>
    </ul>
    <ul>
        <li><h1>Operario de Bodega</h1>-<h3>2020</h3></li>
        <p>Me desempeñe en el puesto de micro-oxigenador, ayudante de prensas, centrifuga, descationizado y en filtro de vacio durante el dia 27 de enero hasta el 27 de abril </p>
    </ul>
    <ul>
        <li><h1>Operario de Bodega</h1>-<h3>2021</h3></li>
        <p>Me desempeñe en el puesto de prensas, descationizado y en centrifuga desde el 25 de enero hasta el 22 de mayo </p>
    </ul>
    <ul>
        <li><h1>Operario de Bodega</h1>-<h3>2022</h3></li>
        <p>Me desempeñe en el puesto de prensas y en centrifuga durante el 18 de enero hasta el 6 de mayo  </p>
    </ul>
</div>