<div class="row">
   <h1>Hard & Soft skills</h1> 
    <div class="text center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="65"
        [radius]="100"
        [imageSrc]="'../assets/js.png'"
        [showImage]="true"
        [imageHeight]="50"
        [imageWidth]="50"
        [titleColor]="'black'"
        [titleFontSize]="'2em'"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'green'"
        [innerStrokeColor]="'black'"
        [animation]="true"
        [animationDuration]="500"
        ></circle-progress>
    </div>
    <div class="text center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="70"
        [radius]="100"
        [imageSrc]="'../assets/html.png'"
        [showImage]="true"
        [imageHeight]="50"
        [imageWidth]="50"
        [titleColor]="'black'"
        [titleFontSize]="'2em'"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'blue'"
        [innerStrokeColor]="'black'"
        [animation]="true"
        [animationDuration]="500"
        ></circle-progress>
    </div>
    <div class="text center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="90"
        [radius]="100"
        [imageSrc]="'../assets/rubyy.png'"
        [showImage]="true"
        [imageHeight]="50"
        [imageWidth]="50"
        [titleColor]="'black'"
        [titleFontSize]="'2em'"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'orange'"
        [innerStrokeColor]="'black'"
        [animation]="true"
        [animationDuration]="500"
        ></circle-progress>
    </div>
    <div class="text center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="80"
        [radius]="100"
        [imageSrc]="'../assets/gobstones.png'"
        [showImage]="true"
        [imageHeight]="50"
        [imageWidth]="50"
        [titleColor]="'black'"
        [titleFontSize]="'2em'"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'red'"
        [innerStrokeColor]="'black'"
        [animation]="true"
        [animationDuration]="500"
        ></circle-progress>
    </div>
    <div class="text center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="60"
        [radius]="100"
        [imageSrc]="'../assets/git.png'"
        [showImage]="true"
        [imageHeight]="50"
        [imageWidth]="50"
        [titleColor]="'black'"
        [titleFontSize]="'2em'"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'white'"
        [innerStrokeColor]="'black'"
        [animation]="true"
        [animationDuration]="500"
        ></circle-progress>
    </div>
    <div class="text center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="95"
        [radius]="100"
        [imageSrc]="'../assets/grupal.png'"
        [showImage]="true"
        [imageHeight]="50"
        [imageWidth]="50"
        [titleColor]="'black'"
        [titleFontSize]="'2em'"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'lime'"
        [innerStrokeColor]="'black'"
        [animation]="true"
        [animationDuration]="500"
        ></circle-progress>
    </div>
</div>
